In [1]:
a = ['a', 'c', 'b']

In [2]:
a.sort(reverse=True)

In [3]:
a

['c', 'b', 'a']

In [4]:
id(a)

2092838755904

In [13]:
multiline = 'Life is too short \n to learn python'

In [14]:
print(multiline)

Life is too short
 to learn python

In [15]:
multiline = 'Life is too short \t to learn python'

In [16]:
print(multiline)

Life is too short 	 to learn python

In [17]:
odd = [1,3,5,7,9]

In [18]:
odd

[1, 3, 5, 7, 9]

In [19]:
a = []
b = [1,2,3] ## 숫자만 사용
c = ['Life', 'is', 'too', 'short'] ## 문자만 사용
d = [1,2, 'Life', 'is'] ## 숫자 와 문자 같이 사용 가능
e = [1,2, ['Life', 'is']] ## 리스트 안의 리스트

In [20]:
a = [1,2,3]

In [21]:
a

[1, 2, 3]

In [22]:
a[0]  # 인덱싱

1

In [25]:
a[0] + a[2]  #인덱싱사용 1 + 3

4

In [26]:
a = [-1] #인덱싱 마지막 번째

In [27]:
a

[-1]

In [28]:
a = [1,2,3, ['a', 'b', 'c']] ## 리스트 안의 리스트에서의 인덱싱

In [29]:
a[0]

1

In [30]:
a[-1]

['a', 'b', 'c']

In [31]:
a[-1][2] # 리스트 안의 리스트에 있는 문자 표현

'c'

In [32]:
a = [1,2,3,4,5] # 리스트에서의 슬라이싱

In [33]:
a[0:2] # 마지막은 포함 하지 않는다(슬라이싱이 아닌경우 1,2,3 까지 표현됨)

[1, 2]

In [34]:
#### 리스트의 연산###

In [35]:
a = [1,2,3]
b = [4,5,6]

In [36]:
a + b  # 더하기

[1, 2, 3, 4, 5, 6]

In [37]:
a * 3 # 곱하기

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
len(a) # 길이 = 항목의 갯수

3

In [39]:
#### 리시트의 수정과 삭제 #### (튜플은 수정과 삭제 불가능)

In [40]:
a = [1,2,3]

In [41]:
a[2] = 4

In [42]:
a

[1, 2, 4]

In [43]:
del a[1] # 삭제

In [44]:
a

[1, 4]

In [45]:
a = [1,2,3,4,5]

In [47]:
del a[2:] # 슬라이싱 방법으로 삭제

In [48]:
a

[1, 2]

In [49]:
#### append 요소 추가 ####

In [50]:
a = [1,2,3]

In [51]:
a.append(4) # 마지막에 하나 추가 (a. =  a의 라는 리스트에 ~ 라는 뜻)

In [52]:
a

[1, 2, 3, 4]

In [53]:
a.append([5,6])

In [54]:
a

[1, 2, 3, 4, [5, 6]]

In [55]:
a = [1,4,3,2]

In [56]:
a.sort() # 오름차선 정렬

In [57]:
a

[1, 2, 3, 4]

In [58]:
a.reverse() # reverse 는 뒤집어 진다

In [59]:
a

[4, 3, 2, 1]

In [60]:
a = [2,3,1]

In [61]:
a.sort(reverse = True)

In [62]:
a

[3, 2, 1]

In [63]:
a = [1,2,3] # index 위치 변환 함수

In [65]:
a.index(3) # 3이 있는 위치를 찾아주는 함수

2

In [66]:
a.index(0) # 0 이 없기 때문에 에러로 발생

ValueError: 0 is not in list

In [67]:
a.insert(0,4) # insert 요소 삽입 (원하는 위치에 삽입 가능)

In [68]:
a

[4, 1, 2, 3]

In [69]:
a = [1,2,3,1,2,3]

In [70]:
a.remove(3) # remove 제거

In [71]:
a

[1, 2, 1, 2, 3]

In [72]:
a.remove(3)

In [73]:
a

[1, 2, 1, 2]

In [74]:
a = [1,2,3] # pop 맨끝의 하나를 날린다.

In [75]:
a.pop() # a의 리스트 안의 마지막인 3을 날린다.

3

In [76]:
a

[1, 2]

In [77]:
a = [1,2,3] 
a.pop(1) # x 번째의 요소를 날린다.
a

[1, 3]

In [78]:
a = [1,2,3,1]
a.count(1) # count 요소 x의 갯수 세기

2

In [80]:
a = [1,2,3]

In [81]:
a.extend([4,5]) # extend 리스트 확장 (리스트로 추가 append 와 비교)

In [82]:
a

[1, 2, 3, 4, 5]

In [83]:
###### 튜플 ########

In [84]:
t1 = ()

In [85]:
t1 = () 
t2 = (1,) # 하나만 쓰게된 경우 쉼표를 붙여 주어야 한다.
t3 = (1, 2, 3) # 일반 여러개의 정수
t4 = 1, 2, 3 # 괄호가 생략 가능하다.
t5 = ('a', 'b' , ('ab', 'cd')) # 튜플 안의 튜플

In [86]:
t1 = (1,2, 'a', 'b') # 튜플의 요소값을 지우거나 변경하려고 할때

In [87]:
del t1(0) # 삭제 시도 했을 때 에러 뜸

SyntaxError: cannot delete function call (<ipython-input-87-0edb39c14a05>, line 1)

In [88]:
t1(0) = 4 # 변경 시도 했을 때 에러 뜸

SyntaxError: cannot assign to function call (<ipython-input-88-e4c8f3f5ee10>, line 1)

In [89]:
t1[0] # 인덱싱

1

In [90]:
t1[1]

2

In [91]:
t1[1:] # 슬라이싱

(2, 'a', 'b')

In [92]:
t1 = (1, 2, 'a', 'b')
t2 = (3,4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [93]:
t2 * 2

(3, 4, 3, 4)

In [94]:
#### 딕셔너리 #### dictionary (자주 사용 하는 것들의 자료를 가지고 있다.) 
## key 와 value 값을 한 쌍으로 갖는다.)
## 리스트와 튜플처럼 순차적으로 요소를 가지지 않는다. 
## 딕셔너리는 {} 를 사용한다.

In [95]:
a = {1:'hi'}

In [96]:
a = {'a':[1,2,3]}

In [97]:
a

{'a': [1, 2, 3]}

In [98]:
a = {1: 'a'}

In [99]:
a[2] = 'b' # 쌍으로 추가 가능

In [100]:
a

{1: 'a', 2: 'b'}

In [101]:
a['name'] = 'pay' # 문자도 추가 가능

In [102]:
a

{1: 'a', 2: 'b', 'name': 'pay'}

In [103]:
del a[1] # key 값을 지우면 value 값도 같이 지워진다.

In [104]:
a

{2: 'b', 'name': 'pay'}

In [105]:
grade = {'pay':10, 'Julliet':99} # key 값으로 value 값 구하기

In [106]:
grade['pay']

10

In [107]:
grade['Julliet']

99

In [109]:
dic = {'name':'pay', 'phone':'01199931123','birth':'1118'}
dic['name']

'pay'

In [110]:
dic['phone']

'01199931123'

In [111]:
dic['birth']

'1118'

In [114]:
a = {1:'a', 1: 'b'} # key값은 고유 값이 됨으로 이후 같은 값을 넣어도 무시된다.

In [115]:
a

{1: 'b'}

In [118]:
### 딕셔너리 관련 함수
# a.keys()  키 값만 뽑아라
# a, values() value 값만 뽑아라
# a.items() key 와 value 쌍을 튶ㄹ로 묶은 값을 객체로 돌려 준다. 리스트를 사용 하는 것과 동일 하게 사용 가능
# a.clear() key 값 value 모두 삭제
# a.get() get 함수를 사용 하였을때 딕셔너리 안에 값이 없으면 none 으로 뜬다.
# a.in() 딕셔너리 안에 찾는 값이 있는지 없는지 찾기

In [119]:
###### 집합 #### set()

In [120]:
s1 = set("hello")

In [121]:
s1

{'e', 'h', 'l', 'o'}

In [122]:
s = set()

In [123]:
s

set()

In [124]:
## set의 특징
# 1. 중복을 허용 하지 않는다.
# 2. 순서가 없다. (인덱싱, 슬라이싱 사용 불가)
# 인덱싱 사용 하기 위해서는 리스트나 튜플로 변환 해주어야 한다.
# 필터의 역활로 많이 사용 한다.

In [125]:
s1 = ([1,2,3])

In [126]:
s1

[1, 2, 3]

In [127]:
l1 = list{s1}

SyntaxError: invalid syntax (<ipython-input-127-c6e4a1ee1d00>, line 1)

In [128]:
l1 = list(s1)

In [129]:
l1

[1, 2, 3]

In [130]:
t1 = tuple(s1)

In [131]:
t1

(1, 2, 3)

In [132]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [133]:
s1 & s2 # 교집합 &는 동시 만족이라는 뜻

{4, 5, 6}

In [135]:
s1.intersection(s2)

{4, 5, 6}

In [136]:
s1 | s2 # vertical bar(sheft + \) 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [137]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [138]:
s1 - s2 # 차집합

{1, 2, 3}

In [140]:
s2 - s1

{7, 8, 9}

s1

In [141]:
s1.difference(s2)

{1, 2, 3}

In [142]:
s2.difference(s1)

{7, 8, 9}

In [143]:
# set 관련 함수
# s.add() 값 1개 추가하기
# s.update() 값 여러개 추가하기
# s.remover() 특정 값 제거

In [145]:
s1 = set([1,2,3])

In [146]:
s1

{1, 2, 3}

In [147]:
s1.add(4)

In [148]:
s1

{1, 2, 3, 4}

In [149]:
s1.update([5,6,7])

In [150]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [151]:
s1.remove(2)

In [152]:
s1

{1, 3, 4, 5, 6, 7}

In [154]:
######## bool(불) #####
# 참(True) 와 거짓(False)
# 첫 문자는 무조건 대문자로 시작 해야 한다.

In [155]:
a = True
b = False

In [156]:
type(a)

bool

In [158]:
type(b)

bool

In [159]:
'Pythons'

'Pythons'

In [160]:
# 아무것도 값이 없으면 False (), [], {}, 0, None
# 값이 존재하면 True (1,2,3) , 'python' , 1

In [161]:
a = [1,2,3,4] # a 라는 리스트를 끝에서 부터 하나씩 꺼내어 나타낸다.
while a:
    print(a.pop())

4
3
2
1

In [162]:
if():
    print('참')
else:
    print('거짓')

거짓

In [163]:
if(1):
    print('참')
else:
    print('거짓')

참

In [164]:
bool('pythons')

True

In [165]:
bool ()

False

In [166]:
bool([1,2,3])

True

In [167]:
bool([])

False

In [168]:
bool(0)

False

In [169]:
bool(3)

True